.page{
    width: 100%;
    height: 100vh;
    background-image: url(/image/programmer-1653351_1280.png);
    background-color: rgba(0, 0, 0, 0.3); /* Couleur de fond sombre */
    background-blend-mode: multiply; /* Mode de fusion pour assombrir */ /* Définit une couleur de fond semi-transparente */
   overflow: hidden;
    }
    
    .page-name{
       margin-bottom: 10px;
        font-weight: bold;
        color: white;
    }
    .page-details{
        color: white;
        font-weight: bold;
      font-size: 1.3rem;
        height: 300px;}
        
    .page-age-title,.page-adress-title,.page-email-title,
    .page-phone-title,.page-freelance-title{ 
        
        margin-right: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid orange;
        margin-left: 0;
    
    } 
    .page-prof{
      
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
    }
    /* Définition de l'animation */
    
        @keyframes change-text {
            10% {
               content: "Web-designer";
                color: white;
                letter-spacing: 5px;
    
            }
        100% {
                content: "Frontend-developper";
                color: white;
               
                letter-spacing: 10px;
            }
        
      }
      
      /* Application de l'animation à la balise h2 à l'intérieur d'une div de classe "menu-tre" */
     .page-prof h2::after{
        content: "";
        animation: change-text 10s linear infinite;
      }
    
        .page{
            z-index: 1;
        }
